# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Poetry
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*

# ruff cache
.ruff_cache/

# VS Code / PyCharm
.vscode/
.idea/

# Scripts and temporary files
.container-scripts/
*.sh
# celery beat schedule file
celerybeat-schedule

# sample data
/.sample_data/

# Virtualenvs
.venv/
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/
nosetests.xml
coverage.xml
*.cover
test-results/
logs/
